<div class="home-new-product">
<h2 class="module-heading"><span>{{lang 'products.new' }}</span></h2>
    <div class="home-new-product-content">
        <div class="left-content">
        {{> components/products/new-carousel products=products}}
        </div>
        <div class="right-content">
            <a href="/reverie" class="imgAnimation">
                <img src="/product_images/uploaded_images/new-products-label-300x250.jpg" alt="Reverie">
            </a>
        </div>
    </div>
</div>
