

<div class= "container" style="font-family: Verdana, Arial, Helvetica, sans-serif;">
    
        <div style="margin: auto; text-align: center;">
            <img style="border:1px solid black;" src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/paypal-credit2.png" alt="PayPal"></div>
        <div>
            <p style="font-size:16px;">When you need to buy something, you don’t want to wait. With PayPal Credit, you can enjoy special financing offers like this one: No Payments + No Interest if paid in full in 6 months on purchases of $99 or more. Buying with the power to pay as you choose and still enjoying the security and reliability of PayPal...now that’s magic </p>
        </div>
    


    
    
        <div style="margin: auto; text-align: center;">
            <img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/klarna-pink.jpg" alt=""></div>
        


<div class="cols-md-12 cols-sm-12">
    <div style="text-align: center;">
        <table align="center" style="font-size:16px; font-weight: bold; width:70%; border-collapse: separate; border-spacing: 50px 10px; border-size:1px; border-color: black;">
            <caption ><h2 align="center">HERE'S HOW IT WORKS</h2></caption>
            <tr align="center">
                <td>
                    <img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/klarna-icon-1.png" alt="">
                </td>
                <td>
                    <img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/klarna-icon-2.png" alt="">
                </td>
                <td>
                    <img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/klarna-icon-3.png" alt="">
                </td>
            </tr>
            <tr align="center">
                <td style="vertical-align:center;">
                    <p>
                       1
                    </p>
                </td>
                <td style="vertical-align:center;">
                    <p>
                        2
                    </p>
                </td>
                <td style="vertical-align:center;">
                    <p>
                        3
                    </p>
                </td>
            </tr>
            <tr align="center" style="font-weight: normal; font-size:14px;">
                <td>
                    <p>
                         At checkout, select Klarna as your payment option and continue
                    </p>
                </td>
                <td>
                    <p>
                        Enter simple information and know instantly if  you’re approved


                    </p>
                </td>
                <td>
                    <p>
                        That’s it! Your purchase is complete


                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <p align="center">
                    *Klarna offers financing options up to 36 months.
                    </p>
                </td>
                
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <p align="center">
                    **Both options are available on checkout.
                    </p>
                </td>
                
            </tr>
        </table>
    </div>
</div>
</div>
<!--
<div class= "">
    <p>Integer et est tellus non bibendum est. Namcos tempus turpis at metus scelerisque placerat nulla eu sollicitudin felis. Pellentesque diam dolor elementum et lobortis at mollis ut risus. Sed faucibus ullamcorper mattis. Fusce molestie elit a loremos tempus scelerisque blandit tortor cursus. Quisque dolutpat orci ut metus malesuada lorem in interdum lectus scelerisque. Praesent eu odio ut nisi ullamcorper ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <h5>Praesent at justo congue leo adipiscing</h5>
    <ul class="paragraphTab">
        <li>
        <strong>Integer et est tellus</strong><span>Integer et est tellus non bibendum est. </span></li>
        <li>
        <strong>Namcos tempus</strong><span>Namcos tempus turpis at metus scelerisque placerat nulla eu sollicitudin felis.</span></li>
    <li>
        <strong>Pellentesque diam dolor</strong><span>Pellentesque diam dolor elementum et lobortis at mollis ut risus. </span></li>
    <li>
        <strong>Sed faucibus</strong><span>Sed faucibus ullamcorper mattis. </span></li>
    <li>
        <strong>Fusce molestie elitos</strong><span>Fusce molestie elit a loremos tempus scelerisque blandit tortor cursus. </span></li>
    <li>
        <strong>Quisque dolutpat orcis</strong><span>Quisque dolutpat orci ut metus malesuada lorem in interdum lectus scelerisque. </span></li>
    <li>
        <strong>Praesent an modio</strong><span>Praesent eu odio ut nisi ullamcorper ultricies.</span></li>
    <li>
        <strong>Cum sociis natoque penatibus</strong><span>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </span></li>
    </ul>
-->

 
    
