<div class="contCategory">
    <div class="hl-featured-category">
        <h2 class="module-heading">Shop by Categories</h2>
        <div class="featured_category_content">
            <div class="featured-category-item"> 
                <ul class="row-item-ul">
                    <li class="col-sm-6 item-category item alpha">
                        <div class="cate_product col-sm-7">   
                            <a href="/mattress-type/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/pocketed-innersprings-thumb2.jpg" alt="Pocketed Coils Cutaway Photo" /></a>                    
                        </div>  
                        <div class="cate_info col-sm-5">
                            <h3>Mattress Construction</h3>                         
                            <div class="sub_cate">
                                
                                <!-- First list-->    
                                <ul>
                                    <li><a href="/innerspring-mattress/" title="Innerspring">Innerspring</a></li>
                                    <li><a href="/memory-foam-mattress/" title="Foam">Foam</a></li>
                                    <li><a href="/gel-memory-foam/" title="Gel Memory Foam">Gel Memory Foam</a></li>
                                    <li><a href="/hybrid-innerspring-and-memory-foam/" title="Hybrid">Hybrid</a></li>
                                    <li><a href="/crib-mattress/" title="Crib">Crib</a></li>
                                </ul>                                
                            </div>
                            <a title="shop-all" href="#" class="shop-all">shop all</a>
                        </div>                      
                    </li>


                    <li class="col-sm-6 item-category item omega">
                        <div class="cate_product col-sm-7">    
                        <!-- In the line below, to exclude Mlily from the Brands image change the file name to brands3.png-->
                            <a href="#"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/brands2.png" alt="Collage of Serta Simmons King Koil Mlily Dream Sleep" /></a>
                        </div>
                        <div class="cate_info col-sm-5">
                            <h3>Mattress Brand</h3>                            
                            <div class="sub_cate">
                                
                                <!-- Second list-->
                                <ul>
                                  <!--  <li><a href="#" title="Maecenas Conguros">Maecenas Conguros</a></li>
                                    <li><a href="#" title="Sustoproines">Sustoproines</a></li>
                                    <li><a href="#" title="Destetos Sarcudos">Destetos Sarcudos</a></li>
                                    <li><a href="#" title="Hendrer Dulamcos">Hendrer Dulamcos</a></li>
                                    <li><a href="#" title="Curabitur Lurpisolus">Curabitur Lurpisolus</a></li>
                                    -->
                                    <li><a href="/serta-mattress/" title="Serta">Serta</a></li>
                                    <li><a href="/simmons/" title="Simmons">Simmons</a></li>
                                    <li><a href="/king-koil/" title="King Koil">King Koil</a></li>
                                    <li><a href="/mlily/" title="MLily">MLily</a></li>
                                    <li><a href="/dream-sleep/" title="Dream Sleep">Dream Sleep</a></li>
                                    <li><a href="/idealbed/" title="iDealBed">iDealBed</a></li>
                                    <li><a href="/reverie/" title="Reverie">Reverie</a></li>
                                </ul>  
                            </div>
                            <a title="shop-all" href="#" class="shop-all">shop all</a>
                        </div>                        
                    </li>
                </ul>
            </div>
            <div class="featured-category-item"> 
                <ul class="row-item-ul">
                    <li class="col-sm-6 item-category item alpha">
                        <div class="cate_product col-sm-7">   
                            <a href="#"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/new-ico-pill-k-scrunch320200.png" alt="Serta iComfort Scrunch Pillow Photo" /></a>                    
                        </div>  
                        <div class="cate_info col-sm-5">
                            <h3>Bedding</h3>                            
                            <div class="sub_cate">
                                
                                <!-- Third list-->
                                <ul>
                                    
                                    <li><a href="/bed-sheets/" title="Bed Sheets">Bed Sheets</a></li>
                                    <li><a href="/blankets/" title="Blankets">Blankets</a></li>
                                    <li><a href="/mattress-protector/" title="Mattress Protector">Mattress Protector</a></li>
                                    <li><a href="/pillows/" title="Pillows">Pillows</a></li>
                                    <li><a href="/bed-frames/" title="Bed Frames">Bed Frames</a></li>
                                    <!--<li><a href="#" title="Maecenas Conguros">Maecenas Conguros</a></li>
                                    <li><a href="#" title="Sustoproines">Sustoproines</a></li>
                                    <li><a href="#" title="Destetos Sarcudos">Destetos Sarcudos</a></li>
                                    <li><a href="#" title="Hendrer Dulamcos">Hendrer Dulamcos</a></li>
                                    <li><a href="#" title="Curabitur Lurpisolus">Curabitur Lurpisolus</a></li>-->
                                </ul>  
                            </div>
                            <a title="shop-all" href="#" class="shop-all">shop all</a>
                        </div>                          
                    </li>


                    <li class="col-sm-6 item-category item omega">
                        <div class="cate_product col-sm-7">   
                            <a href="/platform-beds/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/fbg-thumb.jpg" /></a>                    
                        </div>  
                        <div class="cate_info col-sm-5">
                            <h3>Furniture</h3>                            
                            <div class="sub_cate">
                                <ul>
                                    
                                    <!-- Fourth list-->
                                    <li><a href="/bedroom/" title="Bedroom">Bedroom</a></li>
                                    <li><a href="/living-room/" title="Living Room">Living Room</a></li>
                                    <li><a href="/dining-room/" title="Dining Room">Dining Room</a></li>
                                    <!--
                                    <li><a href="#" title="Maecenas Conguros">Maecenas Conguros</a></li>
                                    <li><a href="#" title="Sustoproines">Sustoproines</a></li>
                                    <li><a href="#" title="Destetos Sarcudos">Destetos Sarcudos</a></li>
                                    <li><a href="#" title="Hendrer Dulamcos">Hendrer Dulamcos</a></li>
                                    <li><a href="#" title="Curabitur Lurpisolus">Curabitur Lurpisolus</a></li>
                                    -->
                                </ul>  
                            </div>
                            <a title="shop-all" href="#" class="shop-all">shop all</a>
                        </div>                          
                    </li>
                </ul>
            </div>
            <div class="featured-category-item"> 
                <ul class="row-item-ul">
                    <li class="col-sm-6 item-category item alpha">
                        <div class="cate_product col-sm-7">   
                            <a href="#"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/serta-mc-thumb.png" alt="Serta Motion Custom Adjustable Bed Thumbnail" /></a>                    
                        </div> 
                        <div class="cate_info col-sm-5">
                            <h3>Adjustable Beds</h3>                            
                            <div class="sub_cate">
                                
                                
                                <!-- Fifth list-->
                                <ul>
                                    <li><a href="/idealbed-adjustable/" title="iDealBed Adjustable">iDealBed</a></li>
                                    <li><a href="/leggett-platt/" title="Leggett & Platt">Leggett &amp; Platt</a></li>
                                    <li><a href="/reverie/" title="Reverie">Reverie</a></li>
                                    <li><a href="/serta-adjustable/" title="Serta Adjustable">Serta Adjustable</a></li>
                                    <li><a href="/beautyrest/" title="Beautyrest">Beautyrest</a></li>
                                    <!--
                                    <li><a href="#" title="Maecenas Conguros">Maecenas Conguros</a></li>
                                    <li><a href="#" title="Sustoproines">Sustoproines</a></li>
                                    <li><a href="#" title="Destetos Sarcudos">Destetos Sarcudos</a></li>
                                    <li><a href="#" title="Hendrer Dulamcos">Hendrer Dulamcos</a></li>
                                    <li><a href="#" title="Curabitur Lurpisolus">Curabitur Lurpisolus</a></li>
                                    -->
                                </ul>  
                            </div>
                            <a title="shop-all" href="#" class="shop-all">shop all</a>
                        </div>                         
                    </li>


                    <li class="col-sm-6 item-category item omega">
                        <div class="cate_product col-sm-7">   
                            <a href="#"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/combo-thumb.jpg" alt="Mattress and Adjustable Bed Combo Package Thumbnail" /></a>                    
                        </div> 
                        <div class="cate_info col-sm-5">
                            
                            <h3>Mattress Brands &amp; Combo Packages</h3>                          
                            <div class="sub_cate">
                                
                                
                                <!-- Sixth list-->
                                <ul>
                                    <li><a href="/mattress-adjustable-sets/" title="Mattress & Adjustable Sets">Mattress &amp; Adjustable Sets</a></li>
                                    <!--
                                    <li><a href="#" title="Maecenas Conguros">Maecenas Conguros</a></li>
                                    <li><a href="#" title="Sustoproines">Sustoproines</a></li>
                                    <li><a href="#" title="Destetos Sarcudos">Destetos Sarcudos</a></li>
                                    <li><a href="#" title="Hendrer Dulamcos">Hendrer Dulamcos</a></li>
                                    <li><a href="#" title="Curabitur Lurpisolus">Curabitur Lurpisolus</a></li>
                                    -->
                                </ul>  
                            </div>
                            <a title="shop-all" href="#" class="shop-all">shop all</a>
                        </div>                          
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="static-block">
        <a href="#" class="imgAnimation">
            <img src="/product_images/uploaded_images/banner-info-3.png" alt="" />
        </a>
    </div>
</div>




<!-- 
<div class="contCategory">
   <div class="hl-featured-category">
        <h2>Shop by Categories</h2>

        <div class="featured_category_content row">
            <div class="featured-category-item"> 
                <ul class="row-item-ul">
                    <li class="col-sm-6 item-category item alpha">
                        <div class="cate_product">   
                            <a href="/mattress-type/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/pocketed-innersprings-thumb2.jpg" alt="Pocketed Coils Cutaway Photo"/></a>                    
                        </div>  
                        <div class="cate_info">
                            <h3>Mattress Construction</h3>                         
                            <div class="sub_cate">    
<!-- First list-->
<!--
                                <ul>
                                    <li><a href="/innerspring-mattress/" title="Innerspring">Innerspring</a></li>
                                    <li><a href="/memory-foam-mattress/" title="Foam">Foam</a></li>
                                    <li><a href="/gel-memory-foam/" title="Gel Memory Foam">Gel Memory Foam</a></li>
                                    <li><a href="/hybrid-innerspring-and-memory-foam/" title="Hybrid">Hybrid</a></li>
                                    <li><a href="/crib-mattress/" title="Crib">Crib</a></li>
                                </ul>                                
                            </div>
                            <a title="shop-all" href="/mattress-type/" class="shop-all">shop all</a>
                        </div>                      
                    </li>


                    <li class="col-sm-6 item-category item omega">
                        <div class="cate_product">    
                            <a href="http://www.dealbeds.com/mattress-brand/"><img src="https://cdn3.bigcommerce.com/s-4ehuh/product_images/uploaded_images/brands.jpg" alt="Collage of Serta Simmons King Koil Mlily Dream Sleep"/></a>
                        </div>
                        <div class="cate_info">
                            <h3>Mattress Brand</h3>                            
                            <div class="sub_cate">
<!-- Second list -->
<!--                              
                                <ul>
                                    <li><a href="/serta-mattress/" title="Serta">Serta</a></li>
                                    <li><a href="/simmons/" title="Simmons">Simmons</a></li>
                                    <li><a href="/king-koil/" title="King Koil">King Koil</a></li>
                                    <li><a href="/mlily/" title="MLily">MLily</a></li>
                                    <li><a href="/dream-sleep/" title="Dream Sleep">Dream Sleep</a></li>
                                  
                                </ul>
                            </div>
                            <a title="shop-all" href="/mattress-brand/" class="shop-all">shop all</a>
                        </div>                        
                    </li>
                </ul>
            </div>
            <div class="featured-category-item"> 
                <ul class="row-item-ul">
                    <li class="col-sm-6 item-category item alpha">
                        <div class="cate_product">   
                            <a href="/bedding/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/new-ico-pill-k-scrunch320200.png" alt="Serta iComfort Scrunch Pillow Photo"/></a>                    
                        </div>  
                        <div class="cate_info">
                            <h3>Bedding</h3>                            
                            <div class="sub_cate">
<!-- Third list -->
<!--
                                <ul>
                                    <li><a href="/bed-sheets/" title="Bed Sheets">Bed Sheets</a></li>
                                    <li><a href="/blankets/" title="Blankets">Blankets</a></li>
                                    <li><a href="/mattress-protector/" title="Mattress Protector">Mattress Protector</a></li>
                                    <li><a href="/pillows/" title="Pillows">Pillows</a></li>
                                    <li><a href="/bed-frames/" title="Bed Frames">Bed Frames</a></li>
                                </ul>  
                            </div>
                            <a title="shop-all" href="/bedding/" class="shop-all">shop all</a>
                        </div>                          
                    </li>


                    <li class="col-sm-6 item-category item omega">
                        <div class="cate_product">   
                            <a href="/platform-beds/"><img src="https://cdn3.bigcommerce.com/s-4ehuh/product_images/uploaded_images/fbg-thumb.jpg" alt="Fashion Bed Group Euro Upholstered Platform Bed Thumbnail"/></a>                    
                        </div>  
                        <div class="cate_info">
                            <h3>Furniture</h3>                            
                            <div class="sub_cate">
<!-- Fourth list -->
<!--
                                <ul>
                                    <li><a href="/bedroom/" title="Bedroom">Bedroom</a></li>
                                    <li><a href="/living-room/" title="Living Room">Living Room</a></li>
                                    <li><a href="/dining-room/" title="Dining Room">Dining Room</a></li>
                                </ul>  
                            </div>
                            <a title="shop-all" href="/furniture/" class="shop-all">shop all</a>
                        </div>                          
                    </li>
                </ul>
            </div>
            <div class="featured-category-item"> 
                <ul class="row-item-ul">
                    <li class="col-sm-6 item-category item alpha">
                        <div class="cate_product">   
                            <a href="/adjustable-beds/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/serta-mc-thumb.png" alt="Serta Motion Custom Adjustable Bed Thumbnail"/></a>                    
                        </div> 
                        <div class="cate_info">
                            <h3>Adjustable Beds</h3>   
<!-- Fifth list -->
<!--
                            <div class="sub_cate">
                                <ul>
                                    <li><a href="/beautyrest/" title="Beautyrest">Beautyrest</a></li>
                                    <li><a href="/leggett-platt/" title="Leggett & Platt">Leggett &amp; Platt</a></li>
                                    <li><a href="/reverie/" title="Reverie">Reverie</a></li>
                                    <li><a href="/serta-adjustable/" title="Serta Adjustable">Serta Adjustable</a></li>
                                    
                                </ul>  
                            </div>
                            <a title="shop-all" href="/adjustable-beds/" class="shop-all">shop all</a>
                        </div>                         
                    </li>


                    <li class="col-sm-6 item-category item omega">
                        <div class="cate_product">   
                            <a href="/mattress-adjustable-sets/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/combo-thumb.jpg" alt="Mattress and Adjustable Bed Combo Package Thumbnail"/></a>                    
                        </div> 
                        <div class="cate_info">
                            <h3>Mattress Bundles &amp; Combo Packages</h3>                          
                            <div class="sub_cate">
<!-- Sixth list -->
<!--
                                <ul>
                                    <li><a href="/mattress-adjustable-sets/" title="Mattress & Adjustable Sets">Mattress &amp; Adjustable Sets</a></li>
                                </ul>  
                            </div>
                            <a title="shop-all" href="/mattress-adjustable-sets/" class="shop-all">shop all</a>
                        </div>                          
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!--
    <div class="static-block">
        <a href="/seasonal-sale/" class="imgAnimation">
            <img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/br16-presidents-day-promo-728x90.jpg" alt="Happy New Year from DealBeds.com" />
        </a>
    </div> -->
   

</div>


-->
