<div id="homeBrands">
    <div class="container">
        <div class="owl-carousel" data-owl='{
            "items": 5,
            "nav": true,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "480": {
                  "items": 2,
                  "slideBy": 2
               },
               "768": {
                  "items": 3,
                  "slideBy": 3
               },
               "991": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
            <!-- EDITED BLOCK ID= homeBrandsSliderImages [Moe Oct1717 16:22]
            BEGIN -->
        <!--Brand 1 -->
            <a title="Beautyrest Silver" href="/beautyrest-silver/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/beautyrest-silver.jpg" alt="Beautyrest Silver" />
        <!--Brand 2 -->
            <a title="Serta iComfort Hybrid" href="/icomfort-hybrid/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/icomfort-hybrid-logo-stacked.png" alt="iComfort Hybrid" />
        <!--Brand 3 -->
            <a title="Beautysleep" href="/simmons-beautysleep/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/simmons-beautysleep-2.png" alt="Beautysleep" /></a>
        <!--Brand 4 -->
            <a title="Serta" href="/serta-mattress/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/serta-logo-centertag-color15366.png" alt="Serta" /></a>
        <!--Brand 5 -->
            <a title="Beautyrest Silver Hybrid" href="/beautyrest-silver-hybrid/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/beautyrest-silver-hybrid.jpg" alt="Beautyrest Silver Hybrid" />
        <!--Brand 6 -->
            <a title="Leggett & Platt" href="/leggett-platt/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/leggett-and-platt-153.jpg" alt="Leggett & Platt"/></a>
        <!--Brand 7 -->
            <a title="Serta Perfect Sleeper" href="/perfect-sleeper/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/serta-perfect-sleeper.png" alt="Serta Perfect Sleeper" />
        <!--Brand 8 -->
            <a title="Beautyrest Platinum" href="/beautyrest-platinum/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/beautyrest-platinum.jpg" alt="Beautyrest Platinum" />
        <!--Brand 9 -->
            <a title="Reverie" href="/reverie/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/reverie-logo-15368.jpg" alt="Reverie"/>
        <!--Brand 10 -->
            <a title="Serta iComfort" href="/serta-icomfort/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/serta-icomfort.png" alt="Serta iComfort" />
        <!--Brand 11 -->
            <a title="Beautyrest black" href="/beautyrest-black/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/beautyrest-black.jpg" alt="Beautyrest Black" />
        <!--Brand 12 -->
            <a title="MLily" href="/mlily/"><img src="//store-rpzf45a.mybigcommerce.com/product_images/uploaded_images/mlily153.jpg" alt="MLily" /></a>
                    
            <!-- END -->
            
            <!-- ORIGINAL BLOCK ID= homeBrandsSliderImages
            BEGIN
            <a href="#" title="loremous"><img src="/product_images/uploaded_images/brands-1.jpg" alt="loremous" /></a>
            <a href="#" title="isabella"><img src="/product_images/uploaded_images/brands-2.jpg" alt="isabella" /></a>
            <a href="#" title="magcor"><img src="/product_images/uploaded_images/brands-3.jpg" alt="magcor" /></a>
            <a href="#" title="fermends"><img src="/product_images/uploaded_images/brands-4.jpg" alt="fermends" /></a>
            <a href="#" title="conseqaur"><img src="/product_images/uploaded_images/brands-5.jpg" alt="conseqaur" /></a>
            <a href="#" title="loremous"><img src="/product_images/uploaded_images/brands-1.jpg" alt="loremous" /></a>
            <a href="#" title="isabella"><img src="/product_images/uploaded_images/brands-2.jpg" alt="isabella" /></a>
            <a href="#" title="magcor"><img src="/product_images/uploaded_images/brands-3.jpg" alt="magcor" /></a>
            <a href="#" title="fermends"><img src="/product_images/uploaded_images/brands-4.jpg" alt="fermends" /></a>
            <a href="#" title="conseqaur"><img src="/product_images/uploaded_images/brands-5.jpg" alt="conseqaur" /></a>
            <!-- END
            -->
        </div>
    </div>
</div>
