<!--<div id="home-bottom-banners">
    <div class="container">
        <div class="row">
            <div class="banner-item">
                <a href="#">
                    <img src="/product_images/uploaded_images/home-bottom-banner-1.png" alt="Editor's Pick" />
                </a>
            </div>
            <div class="banner-item">
                <a href="#">
                    <img src="/product_images/uploaded_images/home-bottom-banner-2.png" alt="Editor's Pick" />
                </a>
            </div>
        </div>
    </div>
</div>-->

