<div class="halo-custom-html-block hidden-mobile">
    <div class="container">
        <div class="row">
            <div class="box wow fadeInUp" data-wow-delay="200ms">
                <span class="icon"><i class="fa fa-check" style="color:#33cccc"></i></span>
                <h4><a href = "#">Shop With Confidence</a></h4>
            </div>
            <div class="box wow fadeInUp" data-wow-delay="300ms">                
                <span class="icon"><i class="fa fa-cog" style="color:#8200ff"></i></span>
                <h4><a href="https://www.dealbeds.com/delivery-information/">Free Nationwide Delivery</a></h4>
            </div>
            <div class="box last wow fadeInUp" data-wow-delay="400ms">                
                <span class="icon"><i class="fa fa-star" style="color:#f32981"></i></span>
                <h4><a href = "https://www.google.com/shopping/seller?q=dealbeds.com&hl=en_US">Real Customer Review</a></h4>
            </div>
            <div class="box last wow fadeInUp" data-wow-delay="500ms">                
                <span class="icon"><i class="fa fa-rotate-left" style="color:#abd800"></i></span>
                <h4><a href = "https://www.dealbeds.com/online-return-policy/">Hassle-Free Returns</a></h4>
            </div>
        </div>    
    </div>    
</div>
<div class="halo-custom-html-block hidden-pc">
    <div class="owl-carousel" data-owl='{
        "items": 1,
        "nav": true,
        "dots": false,
        "slideBy": 1,
        "responsive": {
           "0": {
              "items": 1,
              "slideBy": 1
           },
           "480": {
              "items": 1,
              "slideBy": 1
           },
           "600": {
              "items": 2,
              "slideBy": 2
           }
        },
        "responsiveRefreshRate": 0
     }'>
        <div class="box wow fadeInUp" data-wow-delay="200ms">
            <span class="icon"><i class="fa fa-check" style="color:#33cccc"></i></span>
            <h4>Shop with confidence</h4>
        </div>
        <div class="box wow fadeInUp" data-wow-delay="300ms">                
            <span class="icon"><i class="fa fa-cog" style="color:#8200ff"></i></span>
            <h4>Customizable PCs</h4>
        </div>
        <div class="box last wow fadeInUp" data-wow-delay="400ms">                
            <span class="icon"><i class="fa fa-star" style="color:#f32981"></i></span>
            <h4>Rewards Program</h4>
        </div>
        <div class="box last wow fadeInUp" data-wow-delay="500ms">                
            <span class="icon"><i class="fa fa-rotate-left" style="color:#abd800"></i></span>
            <h4>14-Day Free Returns</h4>
        </div>
    </div>
</div>
