<div class="sidebarBlock hl-block-banner">
    <a href="/beautyrest-black/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/sidebar-banner-br-black-160x600.jpg" alt="Beautyrest Black"></a>
</div>
<div class="sidebarBlock hl-block-banner">
    <a href="/serta-icomfort/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/sidebar-banner-serta-icomfort-160x600.jpg" alt="Serta iComfort"></a>
</div>
<div class="sidebarBlock hl-block-banner">
    <a href="/beautyrest-platinum/"><img src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/sidebar-banner-br-platinum-160x600.jpg" alt="Beautyrest Platinum"></a>
</div>

<div id="sideCustomCMS" class="sidebarBlock">
   <!-- 
    <h5 class="side-module-heading"><span>Custom CMS Block</span></h5> 
    <div class="side-cms-content">
        <p>Custom CMS block displayed at the left sidebar on the Catalog Page. </p>
        <p></p> 
    </div>
    -->
</div>

